<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc_scope:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc_scope_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvc_scope/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc_scope" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="spring-aop-5.2.5.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>